@model IEnumerable<SODemo1.Models.MyModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="MyTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accepted)
            
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="accepted">
            @{
                if (item.Accepted == null)
                {
                    <div class="spanFormat">
                        <form action="@Url.Action("AcceptEdit", "MyModels")" method="post" class="action-form">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <input type="hidden" name="Accepted" value="true" />
                            <button type="submit" class="btn btn-success btn-xs">Accept</button>
                        </form>
                    </div>
                    <div class="spanFormat">
                        <form action="@Url.Action("AcceptEdit", "MyModels")" method="post" class="action-form">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <input type="hidden" name="Accepted" value="false" />
                            <button type="submit" class="btn btn-danger btn-xs">Decline</button>
                        </form>
                    </div>
                }
                else if (item.Accepted == true)
                {
                    <span>Accepted</span>
                }
                else if (item.Accepted == false)
                {
                    <span>Declined</span>
                }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<script type="text/javascript">

    $(document).ready(function () {
        $('#MyTable td span').each(function () {
            if ($(this).text() === 'Declined') {
                $(this).closest('tr').css('background-color', 'red');
            }
            if ($(this).text() === 'Accepted') {
                $(this).closest('tr').css('background-color', 'green');
            }
        });

        $('#MyTable form.action-form').on('submit', function (e) {

            e.preventDefault();

            var model = $(this).serialize();
            var url = $(this).attr('action');

            $.post(url, model)
                .done(function (result, status, jqxhr) {
                    window.location.reload(true);
                });
        });

    });

</script>
